body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.header-bottom {
  background-color: #f1f5f7;
  display: flex;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 60px;
}

.top-nav input {
  color: #ffffff;
  background-color: #293449;
  height: 42px;
  border: none;
  width: 222px;
  margin-left: 220px;
}

.top-nav input::placeholder {
  color: white;
}

.top-nav input:focus {
  color: black;
  background-color: #ffffff;
}

.top-search {
  width: 490px;
}

.search-field {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 48px;
  margin-top: -1px;
  background-image: url('../img/icon-search-grey.png');
  background-repeat: no-repeat;
  background-position: 17px 14px;
}

.search-field:hover {
  background-image: url('../img/icon-search.png');
}

.search-field:focus {
  background-image: url('../img/icon-search-red.png');
}

.buttons-block {
  width: 450px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-logo {
  display: flex;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  position: absolute;
}

.top-logo a {
  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 11px;
  padding-left: 55px;
}

.bottom-logo {
  height: 68px;
  width: 220px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.bottom-logo img {
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 20px;
  padding-left: 41px;
}

.top-logo:hover,
.top-logo:active {
  background-color: #ca2c37;
}

.top-nav .submit-order {
  background-color: #63a63e;
}

.top-nav .submit-order:hover {
  background-color: #5fbb2d;
}

.top-nav .submit-order:focus {
  background-color: #5fbb2d;
}

.top-nav .submit-order:active {
  background-color: #518534;
  opacity: 0.6;
}

.top-nav .full {
  background-color: #ee3643;
}

.user-name {
  display: block;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  padding-left: 47px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.user-name::before {
  content: "";
  position: absolute;
  background-image: url('../img/icon-user.png');
  background-repeat: no-repeat;
}

.user-name:active {
  opacity: 0.3;
}

.user-menu {
  width: 299px;
  min-height: 45px;
  padding-left: 51px;
}

.user-name-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  min-height: 45px;
  background-image: url('../img/icon-user.png');
  background-repeat: no-repeat;
  background-position: 14px 12px;
}

.button-logout {
  width: 20px;
  height: 17px;
  margin-right: 9px;
  margin-top: 13px;
  border: none;
  background-image: url('../img/icon-logout.png');
}

.personal-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 18px;
}

.personal-links a {
  position: relative;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  margin-right: 32px;
}

.personal-links a::after {
  content: "";
  width: 5px;
  height: 5px;
  top: 6px;
  right: -20px;
  position: absolute;
  background-image: url('../img/bullet.svg');
  background-repeat: no-repeat;
}

.personal-links a:last-child::after {
  content: none;
}

.personal-links a:hover,
.personal-links a:focus {
  color: #ee3643;
}

.personal-links a:active {
  opacity: 0.3;
  color: #32425c;
}

.top-nav a,
.top-nav a:hover,
.top-nav a:focus {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.top-nav a:active {
  opacity: 0.6;
}

.store-description {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-left: 52px;
  margin-top: 3px;
  margin-bottom: 0;
}

.phone-address {
  width: 270px;
  margin-left: 71px;
}

.phone {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.address {
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 0;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 69px;
  width: 281px;
}

.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.sign-in {
  padding-left: 48px;
  padding-right: 27px;
  background-color: #ffffff;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.registration {
  width: 100px;
  background-color: #ffffff;
}

.phone:visited {
  color: #ee3643;
}

.address {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.button:hover,
.button:focus {
  color: #ee3643;
}

.button:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  margin-top: 39px;
  min-width: 60px;
}

.main-navigation ul {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 22px;
  padding-left: 0px;
}

.main-navigation li {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 20px;
  padding-bottom: 21.5px;
  padding-left: 30.5px;
  padding-right: 30.5px;
}

.main-navigation li:focus,
.main-navigation li:hover {
  background-color: #1d2739;
}

.main-navigation li:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.main-navigation a:visited {
  color: #ffffff;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 40px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -25px;
}

.breadcrumbs li:first-child::before {
  content: none;
}

.breadcrumbs a:visited {
  color: #000000;
}

h1 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.info {
  width: 519px;
  box-sizing: border-box;
}

.info ul {
  list-style: none;
  margin-top: 20px;
  padding: 0px;
  margin-left: 1px;
}

.info+.map {
  margin-left: 121px;
  width: 300px;
}

.mini-map {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-top: 32px;
}

.info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 0;
}

.info li {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  margin-bottom: 20px;
}

.info li::before {
  content: "";
  width: 25px;
  height: 2px;
  background: #ee3643;
  margin-top: 9px;
  margin-right: 10px;
}

.button-info {
  display: block;
  color: #ffffff;
  font-size: 14px;
  width: 140px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 2px;
  margin-top: 37px;
  border-width: 0px;
}

.map .button-info {
  width: 100%;
  margin-top: 35px;
  padding-left: 45px;
}

.button-info:hover,
.button-info:focus {
  background-color: #ca2c37;
}

.button-info:active {
  background-color: #ba2732;
}

.write-to-us {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 620px;
  min-height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.map-popup {
  display: none;
}

.main-footer {
  background-color: #32425c;
  color: #f3f7f9;
  margin-top: 86px;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.main-footer ul {
  list-style-type: none;
}

.top-links {
  margin-top: 38px;
}

.bottom-links {
  margin-top: 34px;
}

.top-links ul,
.bottom-links ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-links li,
.bottom-links li {
  margin-left: 59px;
}

.top-links li:first-child,
.bottom-links li:first-child {
  margin-left: 0px;
}

.main-footer li {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-right-column {
  width: 615px;
}

.main-footer .company-links {
  color: #f1f5f7;
}

.main-footer .goods-links {
  color: #ffd180;
}

.main-footer .company-links:hover,
.main-footer .company-links:focus,
.main-footer .goods-links:hover,
.main-footer .goods-links:focus {
  text-decoration: underline;
}

.main-footer .company-links:active,
.main-footer .goods-links:active {
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;
  display: flex;
  justify-content: space-between;
  min-height: 107px;
}

.footer-bottom p {
  margin: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 36px;
}

.social-block {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 97px;
}

.footer-bottom .social-icon {
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #212a3a;
  border-width: 0px;
  margin-right: 3px;
}

.social-icon img {
  margin: auto;
}

.footer-bottom .social-icon:hover,
.footer-bottom .social-icon:focus,
.footer-bottom .social-icon:active {
  background-color: #ee3643;
}

.footer-bottom .company-links {
  color: #ffd180;
}

.footer-bottom .company-links:hover,
.footer-bottom .company-links:focus {
  text-decoration: underline;
}

.footer-bottom .company-links:active {
  color: #ee3643;
  text-decoration: none;
}

.filter-block legend {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-block li {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-block ul {
  list-style-type: none;
}

.filter-block fieldset {
  border: none;
}

.items-list ul {
  list-style-type: none;
  padding: 0;
}

.items-list li {
  box-sizing: border-box;
  width: 220px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.items-list {
  display: inline-block;
  text-align: center;
}

.items-list h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 27px;
  padding-right: 29px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  margin-top: 11px;
  margin-bottom: 0px;
  margin-left: 2px;
  display: block;
  text-align: center;
  color: #999999;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  min-height: 17px;
}

.items-list .final-price {
  /*background-color: #ee3643;*/
  display: inline-block;
  text-align: center;
  width: 148px;
  height: 38px;
  background-image: url('../img/catalog-button-price.svg');
  background-repeat: no-repeat;
  background-position: 7px 3px;
  margin-top: 8px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 8px;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.items-list img {
  max-width: 100%;
}

.items-list .buy-button {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin: 43px auto 8px;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 47px;
  padding-right: 45px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  border-radius: 3px;
  background-image: url('../img/cart-icon.png');
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.items-list .to-bookmarks-button {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-left: 11px;
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin: 0px auto 52px;
  background-color: transparent;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.added-to-cart-popup {
  position: fixed;
  top: 411px;
  left: 266px;
  z-index: 1;
  margin-left: 10%;
  width: 620px;
  min-height: 82px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.close-window {
  width: 21px;
  height: 21px;
  background-image: url('../img/close-button.png');
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 16px;
  left: 590px;
  cursor: pointer;
}

.top-line {
  height: 7px;
  background-color: #ee3643;
}

.added-message {
  min-height: 163px;
  background-color: #ffffff;
  background-image: url('../img/info-green-ok.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 81px 48px;
}

.added-message h2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 65px;
  padding-right: 81px;
  padding-bottom: 49px;
  margin-left: 180px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.button-area {
  display: flex;
  min-height: 112px;
  background-color: #f1f1f1;
}

.checkout-button {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding-left: 59px;
  padding-right: 62px;
  padding-top: 11px;
  margin-left: 80px;
  margin-top: 37px;
  margin-right: 20px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.continue-shopping {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding-top: 4px;
  margin-top: 37px;
  padding-left: 3px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.top-nav-wrapper {
  background-color: #293449;
}

.top-nav {
  background-color: #293449;
}

.contact-block {
  display: flex;
  margin-right: 14px;
}

.contact-block p {
  margin-left: 52px;
}

.shipment-contacts {
  padding-top: 80px;
}

.footer-top-wrapper {
  background-color: #32425c;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.breadcrumbs ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumbs {
  margin-top: 22px;
  margin-bottom: 19px;
}

.crumb-home {
  display: block;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  background-image: url('../img/icon-home.svg');
  background-repeat: no-repeat;
}

.filter-block {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-right: 20px;
}

.items-list {
  width: 700px;
  display: flex;
}

.items-list ul {
  display: flex;
  flex-wrap: wrap;
}

.items-list li {
  width: 220px;
  margin-right: 20px;
  position: relative;
}

.items-list li:nth-child(3n) {
  margin-right: 0px;
}

.new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url('../img/new_flag.png');
  background-repeat: no-repeat;
  left: 159px;
}

main h1 {
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  box-sizing: border-box;
}

fieldset {
  padding: 0px;
}

.main-content {
  margin-top: 20px;
}

.bookmarks,
.cart,
.submit-order {
  box-sizing: border-box;
  padding-left: 20px;
  width: 150px;
  font-size: 17px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.cart {
  position: relative;
  padding-left: 49px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks {
  position: relative;
  padding-left: 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url('../img/icon-bookmark.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.sign-in:focus,
.sign-in:hover {
  background-image: url('../img/icon-login-black.svg');
}

.footer-address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  margin-left: 2px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
