body {
  font-family: 'Cuprum', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}

.main-header {
  min-width: 940px;
}

.header-bottom {
  padding-top: 46px;
  padding-bottom: 60px;
  background-color: #f1f5f7;
}

.top-nav input {
  width: 222px;
  height: 42px;
  margin-left: 220px;
  color: #fff;
  border: none;
  background-color: #293449;
}

.top-nav input::placeholder {
  color: white;
}

.top-nav input:focus {
  color: black;
  background-color: #fff;
}

.top-search {
  width: 490px;
}

.search-field {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 48px;
  background-image: url('../img/icon-search-grey.png');
  background-repeat: no-repeat;
  background-position: 17px 14px;
}

.search-field:hover {
  background-image: url('../img/icon-search.png');
}

.search-field:focus {
  background-image: url('../img/icon-search-red.png');
}

.buttons-block {
  display: flex;
  width: 450px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-logo {
  position: absolute;
  display: flex;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);
}

.top-logo a {
  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 11px;
  padding-left: 55px;
}

.bottom-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);
}

.bottom-logo img {
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 20px;
  padding-left: 41px;
}

.top-logo:hover,
.top-logo:active {
  background-color: #ca2c37;
}

.top-nav .submit-order {
  background-color: #63a63e;
}

.top-nav .submit-order:hover {
  background-color: #5fbb2d;
}

.top-nav .submit-order:focus {
  background-color: #5fbb2d;
}

.top-nav .submit-order:active {
  opacity: .6;
  background-color: #518534;
}

.top-nav .full {
  background-color: #ee3643;
}

.user-name {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 47px;
  color: #000;
}

.user-name::before {
  position: absolute;
  content: '';
  background-image: url('../img/icon-user.png');
  background-repeat: no-repeat;
}

.user-name:active {
  opacity: .3;
}

.user-menu {
  width: 299px;
  min-height: 45px;
  padding-left: 51px;
}

.user-name-block {
  display: flex;
  flex-direction: row;
  min-height: 45px;
  background-color: #fff;
  background-image: url('../img/icon-user.png');
  background-repeat: no-repeat;
  background-position: 14px 12px;
  justify-content: space-between;
}

.button-logout {
  width: 20px;
  height: 17px;
  margin-top: 13px;
  margin-right: 9px;
  border: none;
  background-color: #fff;
  background-image: url('../img/icon-logout.png');
}

.personal-links {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-left: 18px;
  flex-wrap: wrap;
}

.personal-links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  margin-right: 32px;
  text-decoration: underline;
  color: #32425c;
}

.personal-links a::after {
  position: absolute;
  top: 6px;
  right: -20px;
  width: 5px;
  height: 5px;
  content: '';
  background-image: url('../img/bullet.svg');
  background-repeat: no-repeat;
}

.personal-links a:last-child::after {
  content: none;
}

.personal-links a:hover,
.personal-links a:focus {
  color: #ee3643;
}

.personal-links a:active {
  opacity: .3;
  color: #32425c;
}

.top-nav a,
.top-nav a:hover,
.top-nav a:focus {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}

.top-nav a:active {
  opacity: .6;
}

.store-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 52px;
  color: #ee3643;
}

.phone-address {
  width: 270px;
  margin-left: 71px;
}

.phone {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  color: #ee3643;
  border: 3px solid #fff;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.address {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 10px;
}

.user-buttons {
  display: flex;
  width: 281px;
  margin-left: 69px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.button {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  color: #000;
}

.sign-in {
  padding-right: 27px;
  padding-left: 48px;
  background-color: #fff;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.registration {
  width: 100px;
  background-color: #fff;
}

.phone:visited {
  color: #ee3643;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.button:hover,
.button:focus {
  color: #ee3643;
}

.button:active {
  opacity: .3;
  color: #000;
}

.main-navigation {
  min-height: 60px;
  margin-top: 39px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 22px;
  padding-left: 0;
  list-style-type: none;
}

.main-navigation li {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
}

.main-navigation li:focus,
.main-navigation li:hover {
  background-color: #1d2739;
}

.main-navigation li:active {
  opacity: .5;
  background-color: #1d2739;
}

.main-navigation a {
  display: block;
  padding-top: 20px;
  padding-right: 31px;
  padding-bottom: 22px;
  padding-left: 30px;
  color: #fff;
}

.main-navigation a:visited {
  color: #fff;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  margin-right: 40px;
  text-transform: uppercase;
  color: #000;
}

.breadcrumbs li::before {
  position: absolute;
  top: 3px;
  left: -25px;
  width: 8px;
  height: 12px;
  content: '';
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
}

.breadcrumbs li:first-child::before {
  content: none;
}

.breadcrumbs a,
.breadcrumbs a:visited {
  color: #000;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.info {
  box-sizing: border-box;
  width: 519px;
}

.info ul {
  margin-top: 20px;
  margin-left: 1px;
  padding: 0;
  list-style: none;
}

.info.map {
  width: 300px;
  margin-left: 121px;
}

.mini-map {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  border: 0;
}

.info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.info p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 0;
}

.info li {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  margin-bottom: 20px;
}

.info li::before {
  width: 25px;
  height: 2px;
  margin-top: 9px;
  margin-right: 10px;
  content: '';
  background: #ee3643;
}

.button-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  width: 140px;
  margin-top: 37px;
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
  text-transform: uppercase;
  color: #fff;
  border-width: 0;
  border-radius: 2px;
  background-color: #ee3643;
}

.credit {
  display: inline-block;
  width: auto;
  padding-left: 45px;
  padding-right: 44px;
  margin-top: 13px;
}

.map .button-info {
  width: 100%;
  margin-top: 35px;
  padding-left: 45px;
}

.button-info:hover,
.button-info:focus,
.slider-item a:hover,
.slider-item a:focus,
.section-header-wrapper a:hover,
.section-header-wrapper a:focus {
  background-color: #ca2c37;
}

.button-info:active,
.slider-item a:active {
  background-color: #ba2732;
}

.write-to-us {
  display: none;
  position: absolute;
  top: 2520px;
  left: 410px;
  width: 620px;
  min-height: 430px;
  background-color: #fff;
}

.write-to-us label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  margin-bottom: 9px;
}

.write-to-us input {
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 0;
  padding-left: 14px;
  color: #a9a9a9;
}

.write-to-us .input-set {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 460px;
  margin-top: 47px;
  margin-right: 80px;
  margin-left: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-set {
  width: 220px;
}

.big-set {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 34px;
}

.big-set label {
  margin-left: 1px;
}

.big-set textarea {
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  height: 114px;
  padding-top: 8px;
  padding-left: 13px;
  resize: none;
}

.popup-input-text {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.submit-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 460px;
  height: 38px;
  margin-top: 37px;
  margin-left: 80px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.map-popup {
  position: absolute;
  top: 2333px;
  left: 235px;
}

.close-map-button {
  height: 21px;
  width: 21px;
  background-color: transparent;
  border: none;
  background-image: url('../img/close-button.png');
  background-repeat: no-repeat;
  position: relative;
  top: -433px;
  left: -49px;
}

.main-footer {
  margin-top: 86px;
  padding-bottom: 32px;
  color: #f3f7f9;
  background-color: #32425c;
  flex-wrap: wrap;
}

.main-footer ul {
  list-style-type: none;
}

.top-links {
  margin-top: 38px;
}

.bottom-links {
  margin-top: 34px;
}

.top-links ul,
.bottom-links ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-links li,
.bottom-links li {
  margin-left: 59px;
}

.top-links li:first-child,
.bottom-links li:first-child {
  margin-left: 0;
}

.main-footer li {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-right-column {
  width: 615px;
}

.main-footer .company-links {
  color: #f1f5f7;
}

.main-footer .goods-links {
  color: #ffd180;
}

.main-footer .company-links:hover,
.main-footer .company-links:focus,
.main-footer .goods-links:hover,
.main-footer .goods-links:focus {
  text-decoration: underline;
}

.main-footer .company-links:active,
.main-footer .goods-links:active {
  opacity: .5;
}

.footer-bottom {
  display: flex;
  min-height: 107px;
  background-color: #293449;
  justify-content: space-between;
}

.footer-bottom p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-top: 36px;
  color: #fff;
}

.social-block {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 97px;
}

.footer-bottom .social-icon {
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  border-width: 0;
  border-radius: 21px;
  background-color: #212a3a;
  justify-content: center;
}

.social-icon img {
  margin: auto;
}

.footer-bottom .social-icon:hover,
.footer-bottom .social-icon:focus,
.footer-bottom .social-icon:active {
  background-color: #ee3643;
}

.footer-bottom .company-links {
  color: #ffd180;
}

.footer-bottom .company-links:hover,
.footer-bottom .company-links:focus {
  text-decoration: underline;
}

.footer-bottom .company-links:active {
  text-decoration: none;
  color: #ee3643;
}

.filter-block legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.filter-block {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #000;
  flex-wrap: wrap;
  align-content: flex-start;
}

.filter-block ul {
  margin-left: 0;
  padding: 0;
}

.filter-block li {
  margin-bottom: 20px;
}

.filter-block ul {
  margin-top: 14px;
  margin-left: 35px;
  padding: 0;
  list-style-type: none;
  user-select: none;
}

.filter-block fieldset {
  border: none;
  margin-bottom: 3px;
}

.button-fieldset-submit {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 3px;
  margin-top: 57px;
}

.items-list ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.items-list li {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.items-list {
  display: flex;
  width: 700px;
  text-align: center;
}

.row-4x {
  width: 940px;
}

.items-list h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  padding-right: 29px;
  padding-left: 27px;
  color: #000;
}

.old-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  min-height: 17px;
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 2px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999;
}

.items-list .final-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  width: 148px;
  height: 38px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-image: url('../img/catalog-button-price.svg');
  background-repeat: no-repeat;
  background-position: 7px 3px;
}

.items-list img {
  max-width: 100%;
  min-width: 218px;
  min-height: 170px;
}

.items-list .buy-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin: 43px auto 8px;
  padding-top: 11px;
  padding-right: 45px;
  padding-bottom: 14px;
  padding-left: 47px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
  background-image: url('../img/cart-icon.png');
  background-repeat: no-repeat;
  background-position: 12px 12px;
  box-shadow: inset 0 -3px 0 #367315;
}

.items-list .buy-button:hover,
.items-list .buy-button:focus {
  background-color: #5fbb2d;
}

.items-list .buy-button:active {
  background-color: #518534;
}

.items-list .to-bookmarks-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin: 0 auto 52px;
  padding-top: 6px;
  padding-left: 11px;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: transparent;
}

.items-list .to-bookmarks-button:hover,
.items-list .to-bookmarks-button:focus {
  border: 3px solid #32425c;
}

.items-list .to-bookmarks-button:active {
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.added-to-cart-popup {
  display: none;
  position: fixed;
  z-index: 1;
  top: 411px;
  left: 266px;
  display: none;
  width: 620px;
  min-height: 82px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, .75);
}

.close-window {
  position: absolute;
  top: 16px;
  left: 590px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: none;
  background-image: url('../img/close-button.png');
  background-repeat: no-repeat;
}

.top-line {
  height: 7px;
  background-color: #ee3643;
}

.added-message {
  min-height: 163px;
  background-color: #fff;
  background-image: url('../img/info-green-ok.png');
  background-repeat: no-repeat;
  background-position: 81px 48px;
  background-size: 66px 66px;
}

.added-message h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 180px;
  padding-top: 65px;
  padding-right: 81px;
  padding-bottom: 49px;
}

.button-area {
  display: flex;
  min-height: 112px;
  background-color: #f1f1f1;
}

.checkout-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 37px;
  margin-right: 20px;
  margin-left: 80px;
  padding-top: 11px;
  padding-right: 62px;
  padding-left: 59px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
}

.continue-shopping {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 37px;
  padding-top: 4px;
  padding-left: 3px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
}

.top-nav-wrapper {
  background-color: #293449;
}

.top-nav {
  background-color: #293449;
}

.contact-block {
  display: flex;
  margin-right: 14px;
}

.contact-block p {
  margin-left: 52px;
}

.shipment-contacts {
  padding-top: 80px;
}

.footer-top-wrapper {
  background-color: #32425c;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.breadcrumbs ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin-top: 22px;
  margin-bottom: 19px;
}

.crumb-home {
  display: block;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  background-image: url('../img/icon-home.svg');
  background-repeat: no-repeat;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.separator {
  border-top: solid 1px #c5c5c5;
  width: 220px;
  padding-top: 15px;
}

.filter-checkbox+label {
  position: relative;
}

.filter-checkbox+label::before {
  position: absolute;
  top: -1px;
  left: -34px;
  width: 23px;
  height: 23px;
  content: '';
  background-image: url('../img/checkbox-off.svg');
}

.filter-checkbox:checked+label::before {
  position: absolute;
  top: -1px;
  left: -34px;
  width: 27px;
  height: 23px;
  content: '';
  background-image: url('../img/checkbox-on.svg');
}

.filter-radio+label {
  position: relative;
}

.filter-radio+label::before {
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  content: '';
  background-image: url('../img/radio-off.svg');
}

.filter-radio:checked+label::before {
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  content: '';
  background-image: url('../img/radio-on.svg');
}

.quick-actions {
  display: none;
}

.items-list li:hover .quick-actions {
  display: block;
}

.items-list li:hover img {
  display: none;
}

.items-list li:nth-child(3n) {
  margin-right: 0;
}

.items-list.row-4x li:nth-child(3n) {
  margin-right: 20px;
}

.items-list.row-4x li:nth-child(4n) {
  margin-right: 0px;
}

.new::before {
  position: absolute;
  left: 159px;
  width: 60px;
  height: 59px;
  content: '';
  background-image: url('../img/new_flag.png');
  background-repeat: no-repeat;
}

main h1 {
  box-sizing: border-box;
  padding-top: 31px;
  padding-bottom: 26px;
  padding-left: 30px;
}

fieldset {
  margin: 0;
  padding: 0;
}

.main-content {
  margin-top: 20px;
}

.bookmarks,
.cart,
.submit-order {
  font-size: 17px;
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.cart {
  position: relative;
  padding-left: 49px;
}

.cart::before {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  content: '';
  opacity: .3;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmarks {
  position: relative;
  padding-left: 44px;
}

.bookmarks::before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  content: '';
  opacity: .3;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: .5;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: .5;
}

.sign-in:focus,
.sign-in:hover {
  background-image: url('../img/icon-login-black.svg');
}

.footer-address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  margin-left: 2px;
}

/* Избранные категории главной */
.promo-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 59px;
  margin-bottom: 33px;
}

.featured-section {
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.new-section::before {
  position: absolute;
  left: 240px;
  width: 60px;
  height: 59px;
  content: '';
  background-image: url('../img/new_flag.png');
  background-repeat: no-repeat;
}

.featured-section h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 22px;
  margin-top: 0;
  padding-top: 21px;
  margin-bottom: 12px;
}

.featured-section a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  margin-left: 25px;
  padding-top: 11px;
}

.materials {
  background-color: #ffbf47;
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.tools {
  background-color: #3bbce3;
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.machinery {
  background-color: #dc91d8;
  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 191px 31px;
  margin-right: 0;
}

.discount-50 {
  background-color: #8ed78f;
  background-image: url('../img/icon-4.svg');
  background-repeat: no-repeat;
  background-position: 197px 26px;
  margin-right: 0;
}

.shipment-free {
  background-color: #ffc047;
  background-image: url('../img/icon-5.svg');
  background-repeat: no-repeat;
  background-position: 192px 32px;
  margin-right: 0;
}

.promo-slider {
  background-color: #000000;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-slider ul,
li {
  padding: 0;
  margin: 0;
}

.slider-item {
  width: 620px;
  height: 266px;
}

.drill-slide {
  display: none;
  background-image: url('../img/drill-slide.jpg');
  background-repeat: no-repeat;
}

.perf-slide {
  background-image: url('../img/perf-slide.jpg');
  background-repeat: no-repeat;
}

.slider-indicator {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  top: -50px;
  left: -283px;
  margin-right: 11px;
  background-color: #ffffff;
}

.slider-indicator.active::before {
  content: "";
  position: absolute;
  top: ;
  width: 6px;
  height: 6px;
  margin: -4px;
  background-color: #ee3643;
  border-radius: 50%;
  left: 6px;
  top: 6px;
}

.promo-slider input::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #000000;
}

.promo-slider h3 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 23px;
  margin-left: 24px;
  margin-bottom: 2px;
}

.promo-slider p {
  color: #ffffff;
  margin-top: 0;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-slider a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 26px;
  padding-top: 11px;
}

.previous-slide {
  width: 22px;
  height: 40px;
  margin-left: 26px;
  margin-top: 11px;
  background-image: url('../img/icon-left.svg');
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.promo-slider ul {
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.promo-slider fieldset {
  border: none;
}

.next-slide {
  float: right;
  width: 22px;
  height: 40px;
  margin-right: 20px;
  margin-top: 10px;
  background-image: url('../img/icon-right.svg');
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

/*Блок избранных товаров*/
.featured-items {
  flex-direction: column;
}

.section-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 89px;
  width: 940px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.section-header-wrapper h2 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 29px;
  margin-top: 30px;
}

.section-header-wrapper a {
  display: block;
  width: 253px;
  min-height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 23px;
  text-align: center;
  margin-top: 25px;
  padding-top: 11px;
  border-radius: 3px;
  box-sizing: border-box;
}

.featured-manufactures {
  flex-wrap: wrap;
  margin-top: 1px;
  margin-bottom: 60px;
}

.featured-manufactures ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.featured-manufactures li {
  display: flex;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 20px;
}

.featured-manufactures li:hover,
.featured-manufactures li:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.featured-manufactures img {
  margin: auto;
}

.featured-manufactures .interskol {
  margin-top: 20px;
}

.featured-manufactures .metabo {
  margin-top: 33px;
  margin-left: 10px;
}

.featured-manufactures li:nth-child(4n) {
  margin-right: 0;
}

.services {
  flex-direction: column;
  background-color: #f4f8f9;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 1px;
}

.service-description {
  font-family: 'PT Sans';
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  margin-top: 0;
  margin-left: 1px;
  margin-bottom: 71px;
}

.services-slider {
  display: flex;
}

.service-summary ul {
  list-style: none;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.services-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.services-buttons::after {
  content: "";
  width: 10px;
  height: 272px;
  position: absolute;
  left: 230px;
  top: -45px;
  background-image: url('../img/services-shadow.png');
  background-repeat: no-repeat;
}

.service-summary h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: -3px;
  margin-left: -1px;
  margin-bottom: 25px;
}

.service-summary li {
  min-height: 284px;
  width: 700px;
}

.service-summary p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.service-button {
  box-sizing: border-box;
  width: 240px;
  min-height: 61px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 0px;
  padding-left: 22px;
  text-align: left;
  margin: 0;
  border: 0;
}

.service-button:hover,
.service-button:focus {
  background-color: #293449;
}

.service-button:active {
  background-color: #ffffff;
  color: #32425c;
}

.services-wrapper {
  background-color: #f4f8f9;
}

.services-shipment-slide {
  display: none;
  background-image: url('../img/truck-468x261.png');
  background-repeat: no-repeat;
  background-position: 152px 25px;
}

.services-warrenty-slide {
  display: none;
  background-image: url('../img/medal-389x283.png');
  background-repeat: no-repeat;
  background-position: 239px 3px;
}

.services-credit-slide {
  background-image: url('../img/finances-465x285.png');
  background-repeat: no-repeat;
  background-position: 166px 0px;
}

.filter-sorting-header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 940px;
}

.filter-header {
  width: 220px;
  min-height: 38px;
  box-sizing: border-box;
  background-color: #f7f3ec;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.price-filter-fieldset {
  margin-top: -7px;
}

.price-range-slider {
  position: relative;
  background-color: #f7f3ec;
  box-sizing: border-box;
  width: 220px;
  min-height: 80px;
  margin-top: 13px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}

.price-slider-input-field {
  background-color: #f7f3ec;
  box-sizing: border-box;
  width: 95px;
  min-height: 38px;
  border-radius: 4px;
  border-width: 0px;
  text-align: center;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 5px;
  margin-bottom: 22px;
}

.pirce-separator {
  color: #444444;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 4px;
  margin-right: 4px;
}

.price-min-slider {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 20px;
  height: 22px;
  background-image: url('../img/filter-button.svg');
  background-repeat: no-repeat;
}

.price-max-slider {
  position: absolute;
  top: 31px;
  left: 160px;
  width: 20px;
  height: 22px;
  background-image: url('../img/filter-button.svg');
  background-repeat: no-repeat;
}

.active-price {
  position: absolute;
  box-sizing: border-box;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
  top: 40px;
  left: 22px;
}

.incative-price {
  position: absolute;
  box-sizing: border-box;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  top: 40px;
  left: 22px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
